<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5e_robotiq">

	<!-- This xacro file combines the UR3e collaborative robotic arm and the
		Robotiq 2F-140 gripper. -->

    <!-- Include macros for the UR3e and the Robotiq 2f-85 gripper -->
    <xacro:include filename="$(find ur_robotiq_description)/urdf/ur5e_urdf.xacro" />
    <xacro:include filename="$(find ur_robotiq_description)/urdf/robotiq_2f_140_urdf.xacro" />

</robot>